.advantage {
	display: flex;
	padding: 0px 0px;
}

.advantage__item {
	margin-right: 30px;
	width: 270px;
	&:last-child {margin-right: 0px;}
}

.advantage__title {
	color: var(--primary-title-color);
	@include font(14px, 1.14, 700, 0.03em);
	text-transform: uppercase;
	margin-bottom: 10px;
}

.advantage__logo {
	@include align-list;
	justify-content: center;
	width: 270px;
	height: 120px;
	background-color: #f5f4fa;
	margin-bottom: 30px;
}
.advantage__icon {
	fill: #212121;
}

.advantage__text {	
	color: var(--primary-text-color);
	@include font(14px, 1.7, null, 0.03em);
}