.bunner {
	max-width: 1600px;
	height: 600px;
	margin-left: auto;
	margin-right: auto;
	background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-color: #2f303a;
	padding-top: 200px;
	padding-bottom: 200px;
}

.bunner__title {
	margin-left: auto;
	margin-right: auto;
	max-width: 360px;
	max-height: 84px;
	@include font(26px, 1.61, 900, none);
	;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
	@media screen and (min-width: 1200px) {
		max-width: 696px;
		max-height: 120px;
		@include font(44px, 1.36, 900, 0.06em);
	}
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}
