
.services__thumb {
	position: relative;
}

.services {
	display: flex;
	flex-wrap: wrap;
	padding-left: 0px;
}
.services__item {
	margin-right: 30px;
	&:last-child {margin-right: 0px;}
}

.services__text {
	position: absolute;
	@include align-list;
	justify-content: center;
	bottom: 0;
	color: rgba(255, 255, 255, 1);
	width: 100%;
	height: 70px;
	@include font(14px, 1.4, 700, null);
	background-color: rgba(47, 48, 58, 0.8);
}
