.section__other--background {
	background-color: #f5f4fa;
}

.team {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}
.team__item {
	width: 100%;
	&:last-child {
		margin-bottom: 0px;
	}

	@media screen and (min-width: 768px) {
		width: calc((100% - 60px) / 2);

		&:last-child {
			margin-right: 0px;
		}
	}

	@media screen and (min-width: 1200px) {
		width: calc((100% - 90px) / 4);
		margin-right: 30px;
		&:last-child {
			margin-bottom: 30px;
			margin-right: 0px;
		}
	}

	background-color: #fff;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
	border-radius: 0px 0px 4px 4px;
}

.team__title {
	color: var(--primary-title-color);
	@include font(16px, 1.18, 500, 0.03em);
	text-align: center;
	margin-bottom: 10px;
	@media screen and (min-width: 1200px) {
		margin-bottom: 30px;
	}
}

.team__foto {
	width: 100%;
}

.team__text {
	@include font(16px, 1.8, null, 0.03em);
	color: var(--primary-text-color);
	text-align: center;
	margin-bottom: 16px;
}
.team__container {
	padding-top: 30px;
	padding-bottom: 30px;
}
